.mycontent{
  padding-top: 100px;
  border: 10px solid #000000;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000000;
  margin: 0;
}


#note {
  position: absolute;
  color: rgba(255,255,255,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}
