{% extends "posts/post_base.html" %}
{% load bootstrap3 %}

{% block prepost %}


<div class="col-md-4 bg-info">
  <h1>@{{post_user.username}}</h1>
    <form>
    {% for item in profile %}
        {% if is_user %}
            <div class="form-group">
                <label>{{ item.0 }}</label>
                <small hidden>Changed</small>
                <input id = "{{ item.1 }}" class="form-control" type="text" value="{{ item.2 }}">
            </div>
        {% else %}
            <div class="form-group">
                <label>{{ item.0 }}</label>
                <p id = "{{ item.1 }}" class="form-control-static">{{ item.2 }}</p>
            </div>
        {% endif %}
    {%  endfor %}
    </form>
</div>



{% endblock %}


{% block post_content %}
<div class="col-md-8">
  {% for post in post_list %}
  <div class="panel panel-default">
    <div class="panel-heading">
        <a href="{% url 'groups:single' slug=post.group.slug %}">
            <h3>{{ post.group.name }}</h3>
        </a>
    </div>
    <div class="panel-body">
    {% include "posts/_post.html" %}
    </div>
  </div>
  {% endfor %}

</div>

{% block javascript %}
<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="application/javascript">
    $(function(ready) {
        $("input").change(function () {
            var attr = $(this).attr('id');
            var new_val = $(this).val();


            $.ajax({
            url: '{% url "profiles:update_info" %}',
            data: {
              'attr': attr,
                'new_val' : new_val
            },
            dataType: 'json',

          });
            cl = $(this).parent().attr('class');
            if (cl.indexOf('has')==-1){
                $(this).parent().attr('class', cl + ' has-warning has-feedback"')
            }

        });
    });
</script>
{% endblock %}

{% endblock %}
